<div class="row">

  <div class="col-xs-3"><!-- ToDo: resizing the screen messes up here-->
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group-btn">
          <select class="form-control" style="border-radius:0;">
            <option value="TOP">Top</option>
            <option value="JUNGLE">Jungle</option>
            <option value="MID">Mid</option>
            <option value="ADC">ADC</option>
            <option value="SUP">Support</option>
          </select>

          <input id="champSearch" type="text" class="form-control" placeholder="Search Champion" style="border-radius:0;">

          <button type="submit" class="btn">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="col-xs-12">
    ToDO: big table of results here

  </div>

</div>