<div id="headerwrap">
  <div class="ui grid" id="header" style="width:1000px;margin-left:auto;margin-right:auto;">

    <!-- title header -->
    <div class="row" style="background-color:#212121;color:#FFFFFF"> <!-- 00B2EF -->
      <div class="left floated column" style="line-height:120px;font-size:50px;text-align:left;padding-left:50px;padding-top:10px;">
        <span style="color:#00B2EF;">LOL</span><span style="color:#696D71;">Counter</span>
      </div>
      <div class="right floated column" style="line-height:50px;padding-top:50px;padding-right:400px;"> <!-- 400-->
        <div class="ui form">
          <div class="inline fields">
            <div class="field">
              <div class="ui action input">
                <input type="text" name="sumName" placeholder="Summoner Name">
                <div class="ui fluid dropdown selection" tabindex="0"><select>
                  <option selected="" value="na">NA</option>
                  <option value="euw">EUW</option>
                  <option value="eune">EUNE</option>
                  <option value="kr">KR</option>
                  <option value="br">BR</option>
                  <option value="lan">LAN</option>
                  <option value="las">LAS</option>
                  <option value="oce">OCE</option>
                  <option value="tr">TR</option>
                  <option value="ru">RU</option>
                </select><i class="dropdown icon"></i><div class="text">NA</div><div class="menu" tabindex="-1"><div class="item active selected" data-value="na">NA</div><div class="item" data-value="euw">EUW</div><div class="item" data-value="eune">EUNE</div><div class="item" data-value="kr">KR</div><div class="item" data-value="br">BR</div><div class="item" data-value="lan">LAN</div><div class="item" data-value="las">LAS</div><div class="item" data-value="oce">OCE</div><div class="item" data-value="tr">TR</div><div class="item" data-value="ru">RU</div></div></div>
                <div class="ui submit button" style="background-color:#696D71;">Search</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- menu -->
    <div class="row" style="background-color:#696D71;">
      <div class="left floated column">
        <div class="ui menu">
          <a class="item">Home</a>
          <a class="item">Summoner</a>
          <a class="item" href="/layouts/champions">Champions</a>
          <a class="item" href="/layouts/counterPick">Counterpicks</a>
          <a class="item" href="/layouts/teamComp">Team Comps</a>

          <div class="right menu">

            <div class="header item">Patch: 5.19</div>

            <div class="header item"># Matches Analyzed: 3020200</div>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="row"><div class="ten wide blue column">
            <div class="ui form">
                <div class="fields">
                    <input id="input2" placeholder="Summoner Name">
                    <select class="ui fluid dropdown" style="width:50px;">
                    <option selected="" value="na">NA</option>
                    <option value="euw">EUW</option>
                    <option value="kr">KR</option>
                    </select>
                    <div type="submit" class="ui button" style="background-color:#696D71;">Search</div>
                </div>
            </div>
        </div>
    </div>
    -->

  </div>
</div>