<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" rel="stylesheet">

<style>
    html,body {background-color:lightgray;height:100%;margin:0;padding:0;}

    div#headerwrap,div#footerwrap{
        position: fixed;
        left: 0;
        right: 0;
    }
    div#headerwrap {
        top: 0;
        height:200px;
        background-color: red;
        margin-left:auto;margin-right:auto;width:1000px;
    }
    div#middlewrap {
        height:100%;
        overflow-y:auto;
        background-color: white;
        padding-left:10px;
        padding-right:10px;
        margin-left:auto;margin-right:auto;width:1000px;
    }
    div#middle{padding-top:230px;padding-bottom:80px;}
    div#footerwrap{
        bottom: 0;
        height:80px;
        background-color: white;
        text-align:center;
        margin-left:auto;margin-right:auto;width:1000px;
    }
</style>

<title>LOLCounter</title>