<div class="row" style="background-color:#212121;color:#FFFFFF;">
  <div class="col-xs-6 col-md-6">
    <%=image_tag("logo.jpg", width:'100%', alt:'banner', class:'banner') %>
  </div>
  <div class="col-xs-6 col-md-4 col-md-offset-1">
    <form class="form-inline" action="/summoner" accept-charset="UTF-8" method="GET">
      <div class="form-group">
        <div class="input-group-btn">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="text" name="input_name" id="input_name" class="form-control" placeholder="Summoner Name" style="border-radius:0;">
          <select name="input_region" id="input_region" class="form-control" style="border-radius:0;">
            <option selected="" value="na">NA</option>
            <option value="euw">EUW</option>
            <option value="eune">EUNE</option>
            <option value="kr">KR</option>
            <option value="br">BR</option>
            <option value="lan">LAN</option>
            <option value="las">LAS</option>
            <option value="oce">OCE</option>
            <option value="tr">TR</option>
            <option value="ru">RU</option>
          </select>
          <button type="submit" name="commit" value="Search" class="btn" style="background-color:#696D71; border-radius:0;">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>