<div class="row">
    <div class="col-xs-2">
      <h3>Highlights:</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
      <a href="#" class="thumbnail">
        <img src="http://p1.pichost.me/i/73/1978247.jpg">
        <p>Riven</p>
      </a>
    </div>
    <div class="col-xs-6">
      <a href="#" class="thumbnail">
        <img src="http://media.alienwarearena.com/media/sejuani-the-winters-wrath-skin-League-of-Legends-Hd-Wallpaper-LoL-Champion-1920x1080.jpg">
        <p>Sejuani</p>
      </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <h3>Patch 5.20 Notes:</h3>
      <p>Welcome to patch 5.20, the one where we continue our slower pace while making sure to buff Teemo. Preason and the ongoing World Championship are big topics for us as of late,
        but not so much that we'd leave the rest of y'all non-pros out to dry..</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <h3>Patch 5.19 Notes:</h3>
      <p>10/1/2015
        Ranked Teams
        OTHERWISE WHAT'S THE POINT: Fixed a bug where ranked teams weren't gaining LP
        THERE'S A PUN IN HERE SOMEWHERE: Fixed a visual bug where progress toward ranked team ward skins appeared to be reset. Your points were not lost...</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <h3>Patch 5.18 Notes:</h3>
      <p>9/21/2015
        Jarvan IV
        THE POWER OF IMAGINATION Fixed a visual bug where Jarvan's Passive - Martial Cadence empowered autoattacks were sometimes not playing an animation
        Spectator Mode
        LET'S CALL IT AN OPTICAL ILLUSION Fixed a longstanding visual bug that caused certain VFX (ex. Relic Shield charges, Banshee's Veil bubble, blue/red buff runes) to visually persist even after the effect expired...</p>
    </div>
</div>