<div class="row">
  <div class="col-xs-2">
    <h3>Summoner</h3>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Summoner name: <%= "#{@output_summoner_name}" %></h3>
    <h3>Summoner region: <%= "#{@output_summoner_region}" %></h3>
    <hr>



  </div>



</div>