<div class="row">
  <div class="col-xs-2">
    <h3>Summoner</h3>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <%= form_for :summoner do |f| %>
        <p>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </p>

        <p>
          <%= f.submit %>
        </p>
    <% end %>



  </div>



</div>