<div class="row">
  <div class="col-xs-3">
    <form action="/teamcomp" accept-charset="UTF-8" method="POST">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="row">
          <div class="col-xs-12" style="max-width:200px;">
            <div class="form-group">
              <label>Top</label>
              <input name="top" id="top" type="text" class="form-control" placeholder="Search Champion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="max-width:200px;">
            <div class="form-group">
              <label>Jungle</label>
              <input name="jungle" id="jungle" type="text" class="form-control" placeholder="Search Champion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="max-width:200px;">
            <div class="form-group">
              <label>Mid</label>
              <input name="mid" id="mid" type="text" class="form-control" placeholder="Search Champion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="max-width:200px;">
            <div class="form-group">
              <label>ADC</label>
              <input name="adc" id="adc" type="text" class="form-control" placeholder="Search Champion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="max-width:200px;">
            <div class="form-group">
              <label>Support</label>
              <input name="support" id="support" type="text" class="form-control" placeholder="Search Champion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" value="search" class="btn">Search</button>
          </div>
        </div>
    </form>

  </div>
  <div class="col-xs-9">
    <br>
    <h3>Team Comp: Darius, Rek'Sai, Ahri, Vayne, Janna</h3>
    <br>
    <h3>Games found with specified team comp: 1230</h3>
    <br>
    <h3>Win rate of team comp: 68%</h3>
    <br><br>

  </div>

</div>