text {

    font-size: 5rem;
    font-weight: 400;
    line-height: 16rem;
    fill: #3f94a6;
}

#donut {
    width: 29rem;
    height: 29rem;
    margin: 0 auto;
}

path.color0 {
    fill: #3f94a6;
}

path.color1 {
    fill: #c26957;
}