<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" rel="stylesheet">

  <title>LolCounter</title>

</head>

<body>

<div class="ui grid">
  <div class="row" style="background-color:#212121; color:#FFFFFF;"> <!-- 00B2EF -->
    <div class="left floated column" style="line-height:80px;font-size:40px;text-align:left;padding-left:50px;">
      LOLCounter
    </div>
    <div class="right floated seven wide column" style="line-height:50px;padding-top:20px;">
      <div class="ui action input">
        <input type="text" name="sumName" placeholder="Summoner Name">
        <select class="ui fluid dropdown" style="width:70px;">
          <option selected="" value="na">NA</option>
          <option value="euw">EUW</option>
          <option value="kr">KR</option>
        </select>
        <div type="submit" class="ui button" style="background-color:#7777AD;">Search</div> <!-- 7777AD-->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="left floated grey column">
      <div class="ui inverted menu">
        <a class="item active">Home</a>
        <a class="item">Charts</a>
        <a class="item">Counterpicks</a>
        <a class="item">Champions</a>
        <a class="item">Team Comps</a>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>
<script>
    $('.ui..input')
            .form({
                fields: {
                    sumName     : 'empty'
                }
            });

    $('.menu .item')
            .tab();
    $('.dropdown')
            .dropdown();

    var content = [
        { title: 'Aatrox' },
        { title: 'Ahri' },
        { title: 'Akali' },
        { title: 'Alistar' },
        { title: 'Amumu' },
        { title: 'Anivia' },
        { title: 'Annie' },
        { title: 'Ashe' },
        { title: 'Azir' },
        { title: 'Bard' },
        { title: 'Blitzcrank' },
        { title: 'Brand' },
        { title: 'Braum' },
        { title: 'Caitlyn' },
        { title: 'Cassiopeia' }
    ];

    $('.ui.search')
            .search({
                source : content,
                searchFullText: false,
                searchDelay: 75
            });

</script>
</body>
</html>